.food-slide {
    border-radius: 50%;
    animation: slideAnimation 3.9s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.default-slide {
    transform: translateX(-600px) rotate(-90deg) ;
    opacity: 0;
}



@keyframes slideAnimation {
    0% {
        transform: translateX(-400px) rotate(-360deg) ;
        opacity: 0;
    }

    20% {
        transform: translateX(0) rotate(30deg) ;
        opacity: 1;
    }

    85% {
        transform: translateX(0) rotate(0deg) ;
        opacity: 1;
    }

    100% {
        transform: translateX(550px) rotate(360deg) ;
        opacity: 0;
    }
}